body{
    margin:center;
    background-color:white;
    display: flexbox;
    height: 100vh;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 10%;
    
}

.top {
    flex-direction: row;

}

.bottom {
    flex-direction: row;
    
}

img{
    width: 200px;
    height: 200px;
}
